<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <h1>The home page <%= 4 + 5 + 1 %></h1>
    <!-- as you can see, = outputs whatever you put in between the closing and opening -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur magnam illum quod quisquam excepturi incidunt magni facilis, sed alias, quae in, est id modi itaque aperiam eos aliquid? Quas, laboriosam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure labore laborum sapiente enim? Perferendis impedit beatae at voluptas, voluptates maiores dolore mollitia fugit rerum nisi ducimus, sit quasi quos ipsum!
    Culpa eius, expedita nobis hic, et accusamus debitis veniam asperiores aspernatur quam obcaecati voluptatem quas. Vel sequi exercitationem molestias nihil fugiat blanditiis repellendus repudiandae! Eligendi, asperiores. Culpa quis eveniet pariatur?</p>

    <%- include('partials/footer') %>