<%- include('partials/head') %>


    <%- include('partials/navbar') %>
    <h1>Your random number is: <%= rand %></h1>
    <!-- as you can see, we are using rand like a variable -->

    <% if(rand % 2 === 0){ %>
        <h2>That is an even number</h2>

    <% } else{ %>
        <h2>That is an odd number.</h2>
    <% } %>
    <!-- IF you want to have actualy js logic, you must use < with % in it with every js code you have -->
    <%- include('partials/footer') %>