<%- include('partials/head') %>
<!-- as you can see, you can just include the above so that you have the css and js of other stuff -->

    <%- include('partials/navbar') %>

    <h1>Browsing the <%= subreddit %> subreddit</h1>

<%- include('partials/footer') %>