section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}
#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    /* the fourth argument is opacity: 0 to 1 and 1 is completely not available */
}


#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.5;
    /* this opacity applies to everythiung, background-color and text and everything */
}