div {
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}
#middle {
    background-color: #81b29a;
}
#static #middle {
    position: static;
    top: 100px;
    /* cannot change because its static */
}

#relative #middle {
    position: relative;
    top: 100px;
    left: 100px;
    /* relative to it was   */
}
#absolute #middle {
    position: absolute;
    top: 50px;
    left: 50px;
    /* relative to its absolute ancestor */
    /* also absolute does not take place when you remove top and left as you can see */
}
#fixed #middle {
    position: fixed;
    top: 0;
    left: 0;
    /* removed from document flow and no space is created but is located relative to initial containing block */
    /* also absolute does not take place when you remove top and left as you can see */
}
